h1 {
  color:red;
  text-align: center;
}
h6 {
  color: red;
  text-align: center;
}
div  {
  background-color: blue;
  width: 500px;
  height: 400px;
  margin: 30px;
  padding: 20px;
  font-family:Arial;
  font-size: 28px;
}
